@page
@model ResumeBuilder.Pages.Users.LoginModel
@{
	ViewData["Title"] = "Login";
}

<h2>Log in</h2>

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label for="username" class="control-label">Username</label>
				<input type="text" id="username" name="Username" class="form-control" />
			</div>
			<div class="form-group">
				<label for="email" class="control-label">Email</label>
				<input type="email" id="email" name="Email" class="form-control" />
			</div>
			<div class="form-group">
				<label for="pass" class="control-label">Password</label>
				<input type="password" id="pass" name="Password" class="form-control" />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Log in" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
