@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ResumeBuilder by Daredevil</h1>
    <br />
    <h4>This project was created by the Daredevil team of the AIBEST Acedmy!</h4>
    <h4>The aim is to bring a functional CV Builder to the table!</h4>
    <br />
    <h3><a asp-page="/Builder">So why not try and create one for yourself?</a></h3>
</div>
