@page
@model ResumеBuilder.Pages.LogInModel
@{
}

<style>
	#login-form > input {
		margin-bottom: 10px;
	}
</style>

<form id="login-form">
	<label for="email">Email: </label>
	<input name="email" type="email" />
	<br />
	<label for="password">Password:</label>
	<input name="password" type="password" />
	<br />
	<input type="submit" value="Log in"/>
</form>