@page
@model ResumеBuilder.Pages.SignUpModel
@{
}

<style>
	#signup-form > input{
		margin-bottom: 10px;
	}
</style>

<form id="signup-form">
	<lable for="full-name">Full Name: </lable>
	<input type="text" name="full-name" />
	<br />
	<lable for="username">Username: </lable>
	<input type="text" name="username" />
	<br />
	<lable for="email">Email: </lable>
	<input type="email" name="email" />
	<br />
	<lable for="password">Password: </lable>
	<input type="password" name="password" />
	<br />
	<lable for="repeat-password">Repeat password: </lable>
	<input type="password" name="password" />
	<br />
	<input type="submit" value="Sign up" />
</form>
